

div.container-fluid {
  background-color: $primaryColor;
  height: 100px;
  padding-top: 50px;
  box-shadow: 0px 1px 10px;
  width: 100%;
}

input.btn.btn-login {
  background-color: $buttonColor;
  margin-left: 1500px;
  width: 100px;
}

body > header > nav {
  height: 1px;
}


