@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #87dfc2;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 2px;
  margin-left: 32px;
  margin-top: 1rem;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: white;
  margin: 8px;
  transition: 0.3s;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 40vw;
    height: 92vh;
    background-color: #87dfc2;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
  .nav-list.active {
    transform: translateX(0);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

#loginForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  background-color: #87dfc2;
  padding: 100px;
  padding-inline: 300px;
  align-items: center;
  border-radius: 30px;
  box-shadow: 1px 1px 20px;
}

.btn.btn-primary {
  width: 400px;
  margin-top: 10px;
  background-color: #bbefe1;
  color: black;
  border-style: none;
}

.btn.btn-primary:hover {
  background-color: #a1e7d1;
}

#inputEmail3 {
  width: 350px;
}

#inputPassword3 {
  width: 350px;
}

#loginForm > div:nth-child(1) > label {
  margin-left: -30px;
}

#loginForm > div:nth-child(2) > label {
  margin-left: -30px;
}

#loginForm > div:nth-child(3) > div > div {
  width: 400px;
  margin-left: -115px;
}

h1 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 70px;
  color: white;
}

div#listAll {
  background-color: #87dfc2;
  margin-top: 150px;
  width: 1500px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  text-align: center;
  box-shadow: 2px 2px 8px;
}

#inputTask {
  margin-left: 30px;
  margin-top: 30px;
  border-style: none;
  border-radius: 20px;
  width: 500px;
  height: 50px;
  outline-style: none;
  box-shadow: 1px 1px 5px;
}

#addTaskButton {
  border: none;
  border-radius: 50%;
  background-color: #87dfc2;
}

ul#listTask {
  list-style: none;
}

span {
  font-size: 20px;
}

li#taskAdd {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  margin-left: 15px;
  margin-top: 30px;
  background-color: #eeffff;
  padding: 10px;
  align-items: center;
  border-radius: 30px;
  box-shadow: 2px 2px 10px;
}

input#inputDate {
  border-radius: 20px;
  border-style: none;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  box-shadow: 1px 1px 5px;
}

#taskContainer {
  max-height: 5000px; /* Defina um limite de altura para a div */
  overflow-y: auto; /* Adicione o scroll vertical quando necessário */
}

#cadFom > form {
  margin-inline: 50px;
}

#cadFom {
  display: flex;
  width: 600px;
  height: 500px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #87dfc2;
  margin-top: 100px;
  border-radius: 30px;
  box-shadow: 1px 1px 5px;
  margin-top: 200px;
}

#validationServer03 {
  width: 510px;
}

#validationServer01 {
  width: 200px;
}

#validationServerUsername {
  width: 200px;
}

#cadFom > form > div:nth-child(1) {
  margin-right: 30px;
}

#cadFom > form > div:nth-child(2) > div {
  width: 300px;
}

#cadFom > form > div:nth-child(4) > div {
  margin-left: 150px;
  margin-right: auto;
}

#cadFom > form > div:nth-child(5) > button {
  margin-left: 50px;
}

#termosDeUsoButton {
  border-style: none;
  color: blue;
  text-decoration: underline;
  background-color: #87dfc2;
}/*# sourceMappingURL=style.css.map */